.gallery {
  display: grid;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

/* Tablet (≥601px) */
@media (min-width: 601px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop (≥1025px) */
@media (min-width: 1025px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}